<div class="index">
     <div class="main__back"></div>

    <div class="main">
    <h1>slide show</h1>
        <div class="main__slide">
    <div class="main__slide-content">
        <% @messages.each do |message| %>
        <div class="slide">
            <%=link_to user_path(message.user_id) do %>
                <h3><%=message.user.name%></h3>
                <h3>title:<%=message.title%></h3>
                <h4><%=message.text%></h4>
            <%end%>
        </div>
        <%end%>
    </div>
        </div>
        <h1>messages</h1>
        <%= render @messages %>
    </div>
</div>